html, body, .viewport {
  margin: 0;
}

.App {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;


}

body {
  display: flex;
  justify-content: center;
}