html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: navajowhite;
}

#app {
  width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;
}

.spin {
  /* position: fixed; */
  /* top: 50%;
  left: 50%; */
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }


.trail { /* className for the trail elements */
  position: absolute;
  height: 100px; width: 15px;
  border-radius: 50px;
  background: aliceblue;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}